<ion-header>
  <ion-toolbar>
    <app-common-header></app-common-header>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >

  
  <!-- AI Insight -->
  <ion-card color="light">
    <ion-card-header>
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-card-title>Personalized Health Insights</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!aiSummary">
        <p>
          Get personalized health insights based on your vitals.
        </p>
        <ion-button expand="block" color="primary" (click)="goToVitals()">
          Add Vitals
        </ion-button>
      </div>
      <div *ngIf="aiSummary">
        <p>
          Based on your latest vitals, here are some insights:
        </p>
        <!-- Summary -->
    <div class="section">
      <ion-icon name="document-text-outline"></ion-icon>
      <h2>Summary</h2>
      <p>{{ healthData.summary }}</p>
    </div>

    <!-- Concerns -->
    <div class="section">
      <ion-icon name="warning-outline" color="danger"></ion-icon>
      <h2>Concerns</h2>
      <p>{{ healthData.concerns }}</p>
    </div>

    <!-- Advice -->
    <div class="section">
      <ion-icon name="bulb-outline" color="success"></ion-icon>
      <h2>Advice</h2>
      <ul>
        <li *ngFor="let tip of healthData.advice">
          {{ tip }}
        </li>
      </ul>
    </div>
      </div>
      
      
      <!-- <ion-button expand="block" color="primary" (click)="goToInsights()">
        Ask AI
      </ion-button> -->
    </ion-card-content>
  </ion-card>

<div class="ion-padding">
  <!-- Chat Section -->
  <h3>Ask AI</h3>

  <ion-list>
    <ion-item *ngFor="let msg of messages" lines="none">
      <div [class.user]="msg.role === 'user'" [class.bot]="msg.role === 'bot'">
        {{ msg.text }}
      </div>
    </ion-item>
  </ion-list>

  <!-- Loader -->
  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

</div>

<!-- Chat Input -->
<div>
  <!-- <ion-toolbar> -->

    <ion-item>
      <ion-textarea
        placeholder="Ask about your health..."
        [(ngModel)]="userInput"
        auto-grow="true">
      </ion-textarea>

      <ion-button slot="end" (click)="sendMessage()" disabled="true">
        Send
      </ion-button>
    </ion-item>

  <!-- </ion-toolbar> -->
   </div>
</ion-content>