<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Follow Up Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="questions.length === 0" class="welcome-container">
    <p>
      Nothing to follow up.
    </p>
    <ion-button expand="block" color="primary" (click)="goToHome()">
      Add Symptoms
    </ion-button>
  </div>
  <form [formGroup]="followUpForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-container">

      <div class="form-card" *ngFor="let q of questions">
    
        <label class="form-label">{{ q.question }}</label>
    
        <input 
          *ngIf="q.type === 'text'" 
          class="form-input"
          [formControlName]="q.field_key" 
          placeholder="Enter your answer" 
        />
    
        <input 
          *ngIf="q.type === 'number'" 
          type="number" 
          class="form-input"
          [formControlName]="q.field_key" 
          placeholder="Enter value"
        />
    
        <ion-toggle 
          *ngIf="q.type === 'boolean'" 
          class="form-toggle"
          [formControlName]="q.field_key">
        </ion-toggle>
    
        <ion-select 
          *ngIf="q.type === 'select'" 
          class="form-select"
          interface="popover"
          placeholder="Select option"
          [formControlName]="q.field_key">
    
          <ion-select-option 
            *ngFor="let opt of q.options" 
            [value]="opt">
            {{ opt }}
          </ion-select-option>
    
        </ion-select>
    
      </div>
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
      <ion-button 
        *ngIf="questions.length > 0"
        expand="block" 
        type="submit"
        [disabled]="followUpForm.invalid || loading">
        Submit Answers
        </ion-button>
    </div>
  </form>
  
</ion-content>
